.info-background{
    background-color: #fceae8;
}
.img{
    width: 100px;
}
.panda-btn-buy-now{
    background-color: #ff4b92;
    border-radius: 8%;
   color: white;
   padding: 9px 25px;
 border: none;
}